.example-container {
  height: 400px;
  overflow: auto;
  margin: 10px;
}

table {
  width: 95%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 95%;
  margin: 10px;
}

.pagginator {
  margin: 10px;
}
