.example-container {
  height: 600px;
  overflow: auto;
  margin: 10px;

}

table {
  padding-left: 5px;
//  padding-top: 5px;
  width: 100%;
}

.mat-cell, .mat-header-cell {
  padding-left: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(0,0,0,.12);
}

.example-half-width {
  margin: 10px;
  width: 55%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 95%;
  margin: 10px;
}

.pagginator {
  margin: 0px;
}
