<div *ngIf="data">Время = {{data.time}}</div>
<div *ngIf="data">Код = {{data.model}}</div>
<div class="form-group m-2">
  <button class="btn btn-outline-primary btn-sm" (click)="click()">Сформировать</button>
</div>
<div *ngIf="data">
  <table *ngIf="data.arrTab?.length" class="table table-bordered  table-sm">
    <tr>
      <th>#</th>
      <th *ngFor="let title of keys(data.arrTab[0])">
        {{title}}
      </th>
    </tr>
    <tr *ngFor="let row of data.arrTab; let i=index; trackBy:trackByFn">
      <td>{{i + 1}}</td>
      <td *ngFor="let column of keys(row); let j=index">
        {{row[column]}}
      </td>
    </tr>
  </table>
</div>
<!--<div *ngIf="done">Обьект = {{arrTab | json }}</div>-->
